<%- include("partial/header") %>
    <%- include("partial/nav") %>
        <%- include("partial/banner") %>
            <div class="card">
                <div class="row">
                    <div class="col-md-8 cart">
                        <div class="title">
                            <div class="row">
                                <div class="col">
                                    <h4><b>Shopping Cart</b></h4>
                                </div>
                                <div class="col align-self-center text-right text-muted">
                                    <%- count %> items</div>
                            </div>
                        </div>
                        <% var c = 0,d = 0;
                        for(data of displayData) { %>
                            <% var add = 0;
                            for (i = 0; i < count; i++) { 
                                add += displayData[i].product.price*displayData[i].quantity; 
                     } %>
                                <hr>
                                <div class="row">
                                    <div class="row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src="uploads/<%- data.product.image%>"></div>
                                        <div class="col">
                                            <div class="row">
                                                <%- data.product.productName%>
                                            </div>
                                        </div>
                                        <div class="col">

                                            <button class="reduced items-count cartminus" id="<%- d++ %>" value="<%-data._id %>" type="button" style="cursor:pointer"><i class="lnr lnr-circle-minus"></i></button>
                                            <input type="text" style="width: 50px;text-align: center;" value="<%-data.quantity%>" class="productquant" id="<%-data._id %>">
                                            <button class="increase items-count cartplus" id="<%- c++ %>" type="button" value="<%-data._id %>" style="cursor:pointer"><i class="lnr lnr-plus-circle"></i></button>

                                        </div>
                                        <div class="col ">&#8377;
                                            <%- data.product.price * data.quantity %> <a class="close " href="/deletecart/<%- data._id %>">&#10005;</a>
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                                    <div class="back-to-shop"><a href="/products">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                    </div>
                    <div class="col-md-4 summary">
                        <div>
                            <h5><b>Summary</b></h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col" style="padding-left:0;">Total Items

                            </div>

                            <div class="col text-right">
                                <%- count %>
                            </div>
                        </div>
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL PRICE</div>
                            <div class="col text-right">&#8377;
                                <%- add %>
                            </div>
                        </div> <a class="btn" href="/checkout">CHECKOUT</a>
                    </div>
                </div>
            </div>

            <%- include("partial/brand") %>

                <%- include("partial/footer") %>